.main {
    height: 296px;
    background: rgba(65, 65, 65, .25);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-radius: 14px;
}

.partname {
    color:white;
    font-size: 13.5px;
    position: relative;
    left: 15px;
    top: 15px;
}

.box1img img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

.box2img img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

.box3img img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

.shareico img{
    height: 10px;
    width: 10px;
}

.shareico {
    position: relative;
    bottom: 17px;
}

.box1 {
    position: relative;
    left: 13px;
    top: 43px;
}

.box1txt{
    font-size: 13px;
    position: relative;
    left: 65px;
    bottom: 55px;
}

.p1t1 {
    color: white;
    font-size: 14px;
}

.p1t2 {
    color: #6c757d;
}

.p1t3 {
    color: #6c757d;
    position: relative;
    left: 15px;
}


.box2 {
    position: relative;
    left: 13px;
    top: 2px;
}

.box2txt{
    font-size: 13px;
    position: relative;
    left: 65px;
    bottom: 55px;
}

.p2t1 {
    color: white;
    font-size: 14px;
}

.p2t2 {
    color: #6c757d;
}

.p2t3 {
    color: #6c757d;
}


.box3 {
    position: relative;
    left: 13px;
    top: -21px;
}

.box3txt{
    font-size: 13px;
    position: relative;
    left: 65px;
    bottom: 55px;
}

.p3t1 {
    color: white;
    font-size: 14px;
}

.p3t2 {
    color: #6c757d;
}

.p3t3 {
    color: #6c757d;
}

.line1 {
    background-color: #4d4d4d74;
    height: 1px;
    position: relative;
    bottom: 310px;
}
.line2 {
    background-color: #4d4d4d74;
    height: 1px;
    position: relative;
    bottom: 230px;
}
.line3 {
    background-color: #4d4d4d74;
    height: 1px;
    position: relative;
    bottom: 147px;
}